<header
    class="flex justify-between items-center py-3 w-full xl:w-[1120px] p-4 mx-auto md:mx-auto mt-3"
>
    <h1 class="hidden md:block font-bold text-[22px]">Front End Developer</h1>
    <nav
        class="flex flex-wrap justify-center md:justify-start list-none gap-5 md:flex-row md:list-none md:gap-5 md:items-center font-bold text-[19px]"
    >
        <li><a href="/#top" class="block md:inline-block">Home</a></li>
        <li>
            <a href="#experience" class="block md:inline-block">Experience</a>
        </li>
        <li><a href="/#projects" class="block md:inline-block">Projects</a></li>
        <li><a href="/#contact" class="block md:inline-block">Contact</a></li>
    </nav>
</header>
